.input {
  max-width: 24rem;
  background-color: transparent;
  color: var(--text-default);
  font-size: 1.8rem;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid var(--primary);
  padding: 0.8rem 1.6rem;
  transition: border-color 150ms ease-in-out;

  &:focus {
    border-color: var(--primary-light);
  }

  &:disabled {
    pointer-events: none;
    color: var(--gray-500);
    border-color: var(--gray-500);
    opacity: 0.4;
  }

  &::placeholder {
    color: var(--gray-500);
    font-size: 1.8rem;
  }
}
