.cycles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;

  .cyclesDots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    span {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background-color: var(--primary);

      &.workTime {
        background-color: var(--warning);
      }

      &.shortBreakTime {
        background-color: var(--success);
      }

      &.longBreakTime {
        background-color: var(--info);
      }
    }
  }

  .noCycle {
    color: var(--gray-500);
    margin: 0.25rem 0;
  }
}
