.dialog {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  p {
    font-weight: bold;
  }
}

.dialogButtons {
  display: flex;
  gap: 1.6rem;

  button {
    width: 10rem;
    height: max-content;
    padding: 1.4rem;
  }
}
