.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;

  a {
    text-decoration: none;
    color: var(--text-muted);
    transition: filter 150ms ease-in-out;
    font-size: 1.2rem;
    transition: all 150ms ease-in-out;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
  }
}
